/* By Harsh panchal */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    
}

body{
    font-family: 'Press Start 2P',sans-serif;
    color: #eee;
    background-color: #222;
}

header{
    position: relative;
    height: 35vh;
    border-bottom: 7px solid blue;
}

main{
    height: 65vh;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#left{
    width: 52rem;
    font-size: 2rem;
}

#right{
    width: 52rem;
    font-size: 2rem;
}

h1{
    font-size: 4rem;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 52%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.between{
    font-size: 2rem;
    position: absolute;
    top: 10%;
    right: 2%;
}

#btn2{
    position: absolute;
    top: 10%;
    left: 1.5%;
}

.number{
    background: #eee;
    color: #333;
    font-size: 6rem;
    width: 15rem;
    padding: 3rem 0rem;
    text-align: center;
    position:  absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
}

.guess{
    background: none;
    border: 4px solid #eee;
    font-family: inherit;
    color: inherit ;
    font-size: 5rem;
    padding: 2.5rem;
    width: 24rem;
    text-align: conter;
    display: block;
    margin-bottom: 3rem;
}

.btn{
    border: none;
    background-color: #eee;
    color: #222;
    font-size: 2rem;
    font-family: inherit;
    cursor: pointer;
    padding: 2rem;
}

.message{
    margin-bottom: 8rem;
    height: 3rem;
}

.label-score{
    margin-bottom: 2rem;
}

.btn:hover {
    background-color: #ccc;
  }